body {
    background-color: ;
}

.content {
    font-family: 'VT323', monospace;
    margin: auto;
    width: 70%;
    box-sizing: border-box;
    border: 1px solid red;
}

.main {
    display: flex;
    border: 1px solid red;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

/* GRID */
.grid-wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid red;
}

.grid-container {
    border: 1px solid red;
    border: 0.5px solid black;
    display: grid;
    width: 500px;
    height: 500px;
}

.square {
    background-color: white;
    border: 0.5px solid grey;
}

/* BUTTONS */
p {
    font-size: 1.2rem;
}

.color-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.buttons-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

button {
    background-color: white;
    color: black;
    width: 150px;
    height: 30px;
}

button:hover {
    transform: scale(1.2);
}

button.active {
    background-color: black;
    color: white;
}

/* COLOR PICKER */

#color-picker {
    border: none;
    width: 80px;
    height: 80px;
}

input[type='color']:hover {
    transform: scale(1.2);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

/* SLIDER */

.slider-container {
    height: 100px;
  }

.slider {
    width: 150px;
    height: 25px; 
    background: #d3d3d3; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    background: white;
    cursor: pointer; 
}






